/* Style the header. This refers to all elements with class header
in index.html */
.header {
    background-color: #89cff0;
    padding: 30px 40px;
    color: white;
    text-align: center;
    font-size: 25px;
}

/* Style for the body. This refers to all elements 
wrapped in the HTML body of index.html. */
body {
  margin: 5;
  min-width: 250px;
  font-family: 'Helvetica';
}

/* Includes the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Add some extra padding around headers */
h2 {
    padding: 10px;
}

/* Set margins and padding for the list to be 0 */
ul {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0;
  /* Makes the list horizontal */
  display: inline-flex;
}

/* Style the list items:
set the type of cursor, allow the list items to be positioned
relative to the nearest anchored elements.
set font size and background color.
prevents list items from being selected.
*/
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background:#eee;
    font-size: 18px;
    transition: 0.2s;
    color: #152238;
    outline: 1px solid #555;
    
    /* Prevents user from selecting list items (clicking
    will be used to indicate availability).
    */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* On hover, make the background color darker.
  
  This makes it clear that the items are clickable.
  */
  ul li:hover {
    background: #ddd;
  }
  
  /* Change background and text color when clicked one time.
  This is styling created for list elements in the "checked"
  class. This class is used in the JavaScript portion of
  the code and corresponds to a "yes" for the scheduling
  mechanism.
  */
  ul li.checked {
    background: #90EE90;
    color: #eee;
  }

  /* Change background and text color when clicked twice.
  This is styling created for list elements in the "twicechecked"
  class. This class is used in the JavaScript portion of
  the code and corresponds to a "maybe/yes but with qualms" for the 
  scheduling mechanism. */
  ul li.twicechecked {
    background: #ffdd3c;
    color: #eee;
  }
  
  /* Add a "checked" mark when clicked on.
  To create a checkmark, create an element that is a rectangle
  with only two visible borders. Then, rotate the rectangle 45
  degrees so that it looks like a checkmark.

  The "before" keyword inserts this before every list element
  of the checked or twicechecked classes.
  */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  ul li.twicechecked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  /* Set text inputs to be 1/4 of the screen width */
  .form-group {
    width: 25%;
  }